@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,600,700|Roboto:400,500,700|Zilla+Slab+Highlight');
@import url('https://fonts.googleapis.com/css?family=Reem+Kufi');

* {
    padding: 0;
    margin: 0;
}
#detail {
    padding-top: 120px !important;
}
#detail img{
    margin-top: 30px;
}

#detail .alert{
    padding: 0;
    border-radius: 10px 10px 0 0;
    margin-top: 50px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);

}
#detail header {
    background: #E75643;
    padding: 20px 20px;
    font-family: 'Reem Kufi',sans-serif;
    color: white;
    border-radius: 10px 10px 0 0;

}
#detail header a {
    color: white;
}
#detail header a:hover{
    color: black;
}
#detail form{
    margin-top: 30px;
    padding: 0 20px;
}
#detail form label{
    color: rgba(0, 0, 0, 0.8);
    font-family: 'Reem Kufi',sans-serif;
}
#detail .text {
    padding: 0 40px;
    font-family: 'Reem Kufi',sans-serif;
    color: black;
}
#detail .text p{
    color: rgba(0, 0, 0, 0.5);
    font-weight: 700;
}
#detail hr{
    border: 1px solid #C4C4C4;;
}
#detail button{
    color: white;
    background: #E75643;
    margin: 20px;
    text-align: center;
}
#detail button:hover{
    background: rgba(231, 86, 67, 0.842);
}
#detail button a{
    color: white;
    text-decoration: none;
    
}